<h1>Seja Bem-Vindo!</h1>
<ul>
  <li><%= link_to t('models.kind'), kinds_path%></li>
  <li><%= link_to t('models.contact'), contacts_path%></li>
  <li><%= link_to t('models.address'), addresses_path%></li>
  <li><%= link_to t('models.phone'), phones_path%></li>
</ul>